services:
  # PostgreSQL database
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: washing_line_monitor
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin #${DB_PASSWORD}  # Use environment variable
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d washing_line_monitor"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Your Rust application
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://admin:admin@postgres:5432/washing_line_monitor
      ROCKET_ADDRESS: 0.0.0.0
      RUST_BACKTRACE: full
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  debug:
    image: nicolaka/netshoot
    command: sleep infinity
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    profiles:
      - debug
    depends_on:
      - postgres


volumes:
  postgres_data: